html{
    background-color: #1d1d1f;
    list-style-type: none;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.maindiv{
    max-width: 980px;
    width: 100%;
    margin-top: 30px !important;
    margin: auto;
}
.maindiv a h1{
    font-size: 21px;
    color: white;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(51, 51, 51);
    border-width: 1px;
}
.maindiv a{
    color: #2997ff;
    font-size: 17px;
}
a.category-header-link{
    color: white;
}
.category{
    border-bottom-style: solid;
    border-bottom-color: rgb(51, 51, 51);
    border-width: 1px;
    padding-bottom: 10px;
}
.category h2{
    margin: 0;
}
.list{
    max-width: 980px;
    width: 100%;
    column-count: 3;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list ul{
    margin-top: 0;
    list-style-type: none;
    padding: 0;
    display: inline-block;
}
.list li a{
    font-size: 17px;
    line-height: 30px;
}
.list ul li a:hover{
    text-decoration: underline;
}
.list li ul li{
    padding-bottom: 5px;
}
.links{
    display: flex;
    margin-top: 20px;
}
.col1, .col2, .col3{
    width: 33.33%;
}
.links h2{
    margin: 0;
}
.links a{
    color: #2997ff;
    font-size: 17px;
    line-height: 30px;
}
.links a:hover{
    text-decoration: underline;
}
#footer-part {
    padding-top: 2.5px;
    padding-left: 5px;
}

/* Mobiles and some tabs */
@media screen and (max-width: 1110px) and (min-width: 824px) {
    .maindiv{
        padding: 20px;
    }
    #footer-part {
        padding-left: 8px;
    }
}
@media screen and (max-width: 823px) {
    html{
        background-color: #1d1d1f;
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .maindiv{
        width: 92%;
        padding-top: 50px !important;
    }
    .maindiv a h1{
        font-size: 20px;
        color: white;
        padding-bottom: 5px;
        border-width: 1px;
        margin: 15px;
        margin-bottom: 0px;
    }
    .category h2{
        font-size: 18px;
    }
    .list{
        display: inline;
    }
    ul{
        width: 100%;
        list-style-type: none;
        padding: 0;
    }
    li{
        padding-bottom: 5px;
    }
    .col1, .col2{
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom-style: solid;
        border-bottom-color: rgb(51, 51, 51);
        border-width: 1px;
    }
    .col3{
        width: 100%;
        padding-top: 10px;
    }
    .links{
        display: inline;
    }
    .links h2{
        font-size: 18px;
    }
    .links a{
        color: #2997ff;
        font-size: 17px;
        line-height: 30px;
    }
    #footer-part {
        padding-left: 8px;
    }
}