body{
    overflow-x: hidden;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type = number] {
  -moz-appearance: textfield;
}
.main-head{
    max-width: 1000px;
    width: 96%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    margin: 20px auto 30px;
}
h1{
    text-align: center;
}
.checkbox-container{
    margin: 0px 0px;
    padding: 10px;
    background-color: #1d1d1f;
    border-radius: 10px;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
input[type = checkbox]{
    height: 15px;
    width: 15px;
    margin-right: 10px;
}
.checkbox-label{
    font-size: 21px;
    padding: 5px 0px;
}
.units-container {
    margin: 10px 0px 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(45%, 1fr));
    grid-gap: 1em;
}
.unit-field-container {
    padding: 1em;
    background: #1d1d1f;
    border-radius: 10px;
}
.unit-label{
    font-size: 25px;
    text-align: left !important;
}
.input-unit-text{
    display: flex;
}
.input{
    width: 85%;
    margin-right: 2.5px;
}
.value-input{
    width: 100%;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    font-size: 17px;
}
.unit-text{
    width: 15%;
    padding: 10px 0px;
    margin-left: 2.5px;
    text-align: center;
    color: white;
    font-size: 20px;
}

@media only screen and (min-width: 513px) and (max-width: 1023px){
    .main-head{
        padding-top: 35px;
    }
    .checkbox-container{
        margin: 0px 0px;
    }
}
@media only screen and (max-width: 512px){
    body{
        overflow-x: hidden;
        background-color: black;
    }
    .main-head{
        margin: 0px auto 0px;
        padding: 0px;
        padding-top: 60px;
        width: 95%;
        overflow-x: hidden;
    }
    .checkbox-container{
        margin: 0px 5px;
    }
    .units-container {
        margin: 10px 5px 20px;
        display: grid;
        grid-template-columns: repeat(1, minmax(100%, 0));
        grid-gap: 10px;
    }
    .unit-field-container {
        color: white;
        padding: 20px 10px;
        margin: 5px 0px;
        background: #1d1d1f;
        border-radius: 10px;
    }
    label{
        font-size: 20px;
        text-align: left !important;
    }
    .value-input{
        width: 100%;
        box-sizing: border-box;
        border-color: transparent;
        border-radius: 5px;
        margin-top: 5px;
        padding: 5px;
        font-size: 17px;
    }
    .unit-text{
        color: white;
        font-size: 17px;
    }
}